extends base

block content 
    h.reviews__text(style='text-align:center; font-size:40px; padding:20px')  Your account has been verified successfully! 
    div(style='display:flex; align-items:center; justify-content:center; padding:20px')
        a.a.btn.btn--green.btn--small(style='text-align:center' href='/me') Go to 'My account'