extends base 

block content
    section.section-description
        .description-box
            h2.heading-secondary.ma-bt-lg - About us:
                p.description__text Natours is a US based company specialized in organizing exciting tours across the American continent

        .description-box
            h2.heading-secondary.ma-bt-lg - Contacts:
                p.description__text If you have any question or need help send an email to natours.info@#.com, we will get back to you ASAP!

            h2.heading-secondary.ma-bt-lg - Careers:
                p.description__text Want to become a guide? Send an email with your resume to natours.jobapp@#.com to get started

    section.section-pictures
        .picture-box
            img.picture-box__img(src='/img/tours/tour-6-cover.jpg', alt='Tour Image 1', class='picture-box__img--1')
        .picture-box
            img.picture-box__img(src='/img/tours/tour-8-cover.jpg', alt='Tour Image 2', class='picture-box__img--2')
        .picture-box
            img.picture-box__img(src='/img/tours/tour-9-cover.jpg', alt='Tour Image 3', class='picture-box__img--3')
